 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@200;400&family=Square+Peg&display=swap');
.main {
  padding: 0 10px 10px;
}

.card {
  position: relative;
  border-radius: 16px;
  margin: 0 auto;
  width: 300px;
  max-width: 100%;
  height: 520px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-size: 115%;
  background-position-x: -20px;
}

.info {
  position: relative;
  width: 100%;
  height: 520px;
  background-color: #fff;
  opacity: 95%;
  transform: translateY(100%)
    translateY(-88px)
    translateZ(0);
  transition: transform 0.5s ease-out;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%)
    translateY(88px)
    translateZ(0);
  transition: transform 0.5s ease-out;
}

.card:hover .info,
.card:hover .info:before {
  transform: translateY(0) translateZ(0);
}

.title {
  margin: 0;
  padding: 17px 15px;
  line-height: 1;
	font: 20px Raleway;
  color: rgba(0, 0, 0, 0.87);
}

.title__profession {
	font: 15px Raleway;
}

.description {
  margin: 0;
  padding: 12px;
  font: 13px Raleway;
  line-height: 1.5;
}

.infoIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  visibility: hidden;
}

@media (max-width: 768px) {
  .infoIcon {
    visibility: visible;
  }
}


@media (max-width: 1250px) {
  .card {
    width: 300px;
    height: 460px;
    background-size: 100%;
  }

  .info {
    height: 460px;
  }

  .description {
    font-size: 12px;
  }
}





